.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 7px solid #999;
  background-color: #FFF;
  border-radius: 5px;

}
th {
  text-align: left;
}
html {
background: url('/hack_the_planet.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
