<div class="container">
  <h1>Let's Texting!</h1>
  <form action '/' method='POST'>
    <label>To: <input name="to" type="tel"></label><br>
    <label>Message: <input name="message" type="text"></label><br>
    <input type="submit">
  </form>
</div>
